.root{
    -fx-background-color: #333333;
}
.button{
    -fx-background-color: #d81e05;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 0;
    -fx-border-width: 2;
    -fx-border-color: #333333
    
}
.label{
    -fx-text-fill: #ffffff;
}
.table-view{
    -fx-background-color: #d81e05;
}
.table-view .column-header-background{
    -fx-background-color: #d81e05;
}
