.root{
    -fx-background-color: #333333;
    
}
.button{
    -fx-background-color: #d81e05;
    -fx-text-fill: #ffffff;
    
    -fx-border-width: 0;
    -fx-border-color: #333333;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent; 
}



.table-view .column-header-background .label{
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: #ffffff;
}
.tablenormaal{
    -fx-text-fill: black;
    -fx-background-color: #d81e05;
}
.table-view .column-header-background{
    -fx-background-color: #d81e05;
}

